<div class="mdc-layout-grid__inner" style="grid-gap: unset; margin-bottom: 12px;">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h1 class="mdc-typography--display1 mdc-theme--primary" style="font-weight: 400;">
      {{ page.title }}
    </h1>

  </div>
  {% if page.tags != "" %}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
      {% for tag in page.tags  %}
        <div class="jlc-chip mdc-typography--caption">{{ tag }}</div>
      {% endfor %}
    </div>
  {% endif %}
</div>
