---
---

@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");

body, main {
  font-family: "Lato";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;

  a {
    color: #393333;
    text-transform: uppercase;

    img {
      height: 24px;
    }
  }
}
