---
---

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300");

* {
  box-sizing: border-box;
}

body, main, figure {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}


.contact {
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  display: inline-block;
  padding: 6px 8px;
}

a {
  text-decoration: none;
  opacity: 0.8;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease-out,
  opacity 0.2s ease-out,
  border-color 0.2s ease-out;

  &.light {
    color: #dfdfdf;

    &:hover {
      color: #fff;
      border-color: #fff !important;
    }
  }

  &.dark {
    color: #393333;

    &.contact {
      border: 1px solid #393333;
    }

    &:hover {
      color: #000;
      border-color: #000;
    }
  }

  &:hover {
    opacity: 1;
  }

  &:not(:last-of-type) {
    margin-right: 18px;
  }
}

#intro {
  font-family: "Raleway";
  text-align: center;
  text-transform: uppercase;
  color: #dfdfdf;

  #me {
    font-size: 48px;
    margin: 32px 0;
  }

  #blurb {
    font-weight: 300;
    padding: 12px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  font-size: 13px;
  padding: 36px 24px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  transition: box-shadow 0.2s ease-out;

  &.shadow {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a.icon {
    font-size: 18px;
  }
}

.hero, .hero-half {
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: cover;

  width: 100%;
  height: 100vh;
  position: relative;

  .info {
    opacity: 0.4;
    color: #eee;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px 24px;
    text-transform: uppercase;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, .65));

    .title {
      font-size: 10px;

      a {
        color: #dfdfdf;
        opacity: 0.8;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        transition: color 0.2s ease-out,
                    opacity 0.2s ease-out,
                    border-color 0.2s ease-out;

        &:hover {
          color: #fff;
          opacity: 1;
          border-color: #fff !important;
        }
      }
    }
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
                    url("{{ site.hero_banner_url }}");
}

.hero-half {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
                    url("https://images.unsplash.com/photo-1543355584-e708a2e4d2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1440&q=80");
  filter: hue-rotate(300deg);
  height: 50vh;
  margin-bottom: 48px;
}

.flex-container {
  display: flex;

  .flex-column {
    flex: 1;

    &:first-of-type {
      margin-right: 16px;
    }

    .card {
      padding: 34px 40px 44px;
      background: #fff;
      margin-bottom: 16px;

      & .icon-container svg {
        font-size: 36px;
      }

      & .card-title {
        font-family: "Raleway";
        font-size: 24px;
        font-weight: 300;
      }

      & p {
        line-height: 24px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

footer {
  text-transform: uppercase;
  margin: 24px;
  color: #393333;
  border-top: 1px solid #393333;
  padding-top: 24px;
  text-align: center;
  font-size: 13px;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
  }

  .copyright {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  header {
    padding-left: 8px;
    padding-right: 8px;
  }

  header .container {
    display: block;
  }

  header nav {
    text-align: center;
  }

  header nav a:not(:last-of-type), footer nav a:not(:last-of-type) {
    margin-right: 12px;
  }

  footer {
    margin-left: 8px;
    margin-right: 8px;
  }

  .social-icons {
    margin-top: 12px;

    .icon {
      font-size: 24px;
    }
  }

  .hero-half {
    margin-bottom: 0;
  }

  .flex-container {
    flex-direction: column;

    .flex-column {
      margin: 0 !important;

      .card {
        margin: 0;
      }
    }
  }
}
