---
---

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300");

* {
  box-sizing: border-box;
}

body, main, figure {
  font-family: "Lato";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#contact {
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  display: inline-block;
  padding: 6px 8px;
}

#intro {
  font-family: "Raleway";
  text-align: center;
  text-transform: uppercase;
  color: #dfdfdf;

  #me {
    font-size: 48px;
    margin: 32px 0;
  }

  #blurb {
    font-weight: 300;
    padding: 12px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  font-size: 13px;
  padding: 36px 24px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: #dfdfdf;
    opacity: 0.8;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: color 0.2s ease-out,
                opacity 0.2s ease-out,
                border-color 0.2s ease-out;

    &:hover {
      color: #fff;
      opacity: 1;
      border-color: #fff !important;
    }

    &:not(:last-of-type) {
      margin-right: 18px;
    }

    &.icon {
      font-size: 18px;
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
                    url("{{ site.hero_banner_url }}");
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: cover;

  width: 100%;
  height: 100vh;
  position: relative;

  .info {
    opacity: 0.4;
    color: #eee;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px 24px;
    text-transform: uppercase;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, .65));

    .title {
      font-size: 10px;

      .name {
        font-weight: 700;
      }

      .author {
        font-weight: 300;
      }
    }

    .subtitle {
      opacity: 0.7;
      font-size: 10px;
      font-weight: 300;

      &::before {
        opacity: 0.7;
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 8px;
        font-weight: 900;
        content: "\f3c5";
      }
    }
  }
}

footer {
  text-transform: uppercase;
  margin: 24px;
  color: #393333;
  border-top: 1px solid #393333;
  padding-top: 24px;
  text-align: center;
  font-size: 13px;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 36px;
  }

  a {
    color: #393333;
    opacity: 0.8;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: color 0.2s ease-out,
                opacity 0.2s ease-out,
                border-color 0.2s ease-out;

    &:hover {
      color: #000;
      opacity: 1;
      border-color: #000 !important;
    }

    &:not(:last-of-type) {
      margin-right: 18px;
    }
  }

  .copyright {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  header .container {
    display: block;
  }

  nav a:not(:last-of-type) {
    margin-right: 12px;
  }
}
