<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">


    <title>{{ site.title }}</title>
  </head>

  <body>
    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>

  <script defer
          src="https://use.fontawesome.com/releases/v5.7.1/js/brands.js"
          integrity="sha384-zJ8/qgGmKwL+kr/xmGA6s1oXK63ah5/1rHuILmZ44sO2Bbq1V3p3eRTkuGcivyhD"
          crossorigin="anonymous">
  </script>
  <script defer
          src="https://use.fontawesome.com/releases/v5.7.1/js/fontawesome.js"
          integrity="sha384-Qmms7kHsbqYnKkSwiePYzreT+ufFVSNBhfLOEp0sEEfEVdORDs/aEnGaJy/l4eoy"
          crossorigin="anonymous">
  </script>

</html>
